<div class="col-sm-12 col-lg-6">
    <div class="card h-100 shadow-sm border-1 rounded-3">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title mb-2">{{ experience.job_title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ experience.company }}
                —
                <span class="fst-italic">{{ experience.period }}</span>
                {% if experience.location %}<br>
                    <small>{{ experience.location }}</small>
                {% endif %}
            </h6>

            <ul class="mt-3 mb-0 ps-3">
                {% for task in experience.description %}
                    <li class="mb-1">{{ task }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
