{% set title = t("404.title") %}
{% extends "../layouts/main.html.njk" %}
{% block content %}
    <div class="container d-flex flex-column justify-content-start align-items-center text-center">
        <div class="mt-5">
            <h1 class="mb-5" aria-label="sad-emoji">😔</h1>
            <h2 class="mb-5">{{ t("404.title") }}</h2>
            <p>{{ t("404.content") }}</p>
        </div>
    </div>
{% endblock %}
